html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}
a {
    text-decoration: none;
    color: black;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}